<ng-template placeholder></ng-template>
<div class="row auth">
  <div class="col-12 col-md-6 mx-auto">
    <div *ngIf="isloading" class="d-flex justify-content-center mt-5">
      <spinner></spinner>
    </div>
    <!-- ngIf to create Dynamic Component -->
    <!-- <alert-component
      [message]="error"
      *ngIf="error"
      (close)="onErrorHandel()"
    ></alert-component> -->
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="!isloading">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          required
          email
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          required
          [minlength]="6"
          ngModel
        />
      </div>
      <div class="d-felx align-items-center mt-3">
        <button class="btn btn-success" type="submit" [disabled]="!form.valid">
          {{ login ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{ login ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
