<div class="row">
  <div class="col-xs-12">
    <h1>{{ selectedRecpe.name }}</h1>
  </div>
</div>
<div class="row my-3">
  <div class="col-xs-12">
    <img
      class="img-fluid"
      src="{{ selectedRecpe.imagePath }}"
      alt=""
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        openDrop
        type="button"
        class="btn btn-primary dropdown-toggle position-relative"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        data-bs-target="#list"
        aria-controls="list"
      >
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu position-absolute top-100" id="list">
        <li>
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="toShopping($event)"
            >To Shopping List</a
          >
        </li>
        <li>
          <a class="dropdown-item" style="cursor: pointer" routerLink="edit"
            >Edit Recipe</a
          >
        </li>
        <li>
          <a class="dropdown-item" style="cursor: pointer" (click)="onDelete()"
            >Delete Recipe</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row my-3">
  <div class="col-xs-12">
    {{ selectedRecpe.descripe }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group mb-3">
      <li class="list-group-item" *ngFor="let i of selectedRecpe.ingred">
        {{ i.name }} - {{ i.amount }}
      </li>
    </ul>
  </div>
</div>
