<div class="row">
  <div class="col-12">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success me-3" type="submit">Save</button>
          <button class="btn btn-danger" type="button">Cancel</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <div class="form-group">
            <label for="url">Image Url</label>
            <input
              type="text"
              class="form-control"
              id="url"
              formControlName="url"
            />
          </div>
        </div>
      </div>
      <div class="row d-none">
        <div class="col-12">
          <img src="" alt="" />
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              rows="10"
              formControlName="descripe"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" formArrayName="ingred">
          <div
            class="row mb-3"
            *ngFor="let con of Controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-9">
              <div class="form-group">
                <label for="ingredient">Ingredient</label>
                <input
                  type="text"
                  class="form-control"
                  id="ingredient"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label for="ing-amout">Amount</label>
                <input
                  type="number"
                  class="form-control"
                  id="ing-amout"
                  formControlName="amount"
                />
              </div>
            </div>
            <div class="col-1 d-flex align-items-end">
              <button class="btn btn-danger" id="delete">X</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
