<div class="row mt-2">
  <div class="col-12">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button
            class="btn btn-success me-3"
            type="submit"
            [disabled]="!reactiveForm.valid"
          >
            Save
          </button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <div class="form-group">
            <label for="url">Image Url</label>
            <input
              type="text"
              class="form-control"
              id="imagePath"
              formControlName="imagePath"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img
            [src]="reactiveForm.get('imagePath').value"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              rows="10"
              formControlName="descripe"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" formArrayName="ingred">
          <div
            class="row mb-3"
            *ngFor="let con of Controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-6 col-md-8">
              <div class="form-group">
                <label for="ingredient">Ingredient</label>
                <input
                  type="text"
                  class="form-control"
                  id="ingredient"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="col-4 col-md-3">
              <div class="form-group">
                <label for="ing-amout">Amount</label>
                <input
                  type="number"
                  class="form-control"
                  id="ing-amout"
                  formControlName="amount"
                />
              </div>
            </div>
            <div class="col-2 col-md-1 d-flex align-items-end">
              <button class="btn btn-danger " id="delete" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <button
        class="btn btn-success mb-5"
        type="button"
        (click)="onAddIngredient()"
      >
        Add Ingredient
      </button>
    </form>
  </div>
</div>
